@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User</h1>
    <h3>Register as new User then Login<br>If already registered then login to perform CRUD operation for Items.</h3>
</div>
<br>
<hr>
<div class="text-center">
    <h3>Two Users are registerd already for testing purpose:</h3>
    
        <ul>
            <li>
                <h3>User 1: <strong>Username :  test </strong>, <strong>Password : test</strong> and Role = test</h3>
            </li>
            <li>
                <h3>User 2: <strong>Username :  Admin </strong>, <strong>Password : Admin</strong> and Role = Admin</h3>
            </li>
        </ul>
    
</div>
<hr>
